[2017-04-09 13:08] greg9504 opened #1 "Debug with Visual Studio Code"
Just wondering what your development process is for using Visual Studio code to debug your Electron
instance.  Is it possible to use VS Code to debug the instance started with hot module replacement (npm run start)?  I've tried to use a launch configuration to attach to the process ("request": "attach") but haven't been successful.   I have been able to debug an instance started from VS Code ("req

[2017-04-12 00:26] colinskow commented on #1
I believe this is supposedly fixed in Webpack 2.3.2
https://github.com/webpack/webpack/issues/3579

Would you upgrade and see if it works?

[2017-04-12 03:15] greg9504 commented on #1
Hello,

Thanks for the reply.  I updated to Webpack 2.3.2 and reverted the changes.  This seems to have fixed the problem with debugging and source maps, webpack.dev.js  devtool: 'cheap-module-source-map' now produces usable source maps.

I did however have to use the changes above to the launch.json.  Attached below.

My development process is:
npm install  (to update webpack)
npm run build:dev
n

[2017-04-12 04:35] colinskow commented on #1
Hi Greg,

I honestly haven't tested debugging breakpoints in VSCode. Since HMR is injecting dynamic code I don't think that it will support breakpoints.

This project is forked from https://github.com/AngularClass/angular2-webpack-starter

I couldn't think of a use for having a non-HMR dev mode so I removed it, but breakpoint debug is a strong use case. If we remove HMR altogether and just use pur

[2017-04-13 03:14] greg9504 commented on #1
Hi,
The workflow I mention above is working for me, I just restart debugging if I need to step into the code after a change.  Unfortunately I am not familiar with electron-connect to know the answer.

If I find a better way I'll report back here.  I lost a day today because the Debugger for Chrome extension for VS Code stopped working for Electron apps after an update to 3.0.0.   I haven't tried t

[2017-04-21 04:43] colinskow commented on #1
Try cloning the latest version of the repo. Everything should be working now (without your fix above.) I also upgraded to Angular 4.

1) `npm run build:dev`
2) Launch "Debug Renderer Process" from VSCode.
3) After each change `npm run build:dev` and launch again. Hot reloading won't work with debugger.

Feel free to re-open this if you still run into issues.

[2017-04-21 04:43] #1 closed

[2017-04-21 12:18] greg9504 commented on #1
Thanks I'll give it a try.  Did you see that the base repo is about to undergo a similar rebase for Angular 4 etc:
https://github.com/AngularClass/angular2-webpack-starter/issues/1686

[2017-04-21 17:39] colinskow commented on #1
Haha... I just gave them a jumpstart!
https://github.com/AngularClass/angular2-webpack-starter/pull/1691

[2017-04-27 18:28] greg9504 opened #2 "Adding a 3rd party library such as PrimeNG"
Hello,

I'm having a hard time adding any 3rd party modules.  I've tried PrimeNG and ag-grid, with little success.  I have been successful at adding a 3rd party module to the base repository ( AngularClass/angular2-webpack-starter).  I then try to replicate what I did with an instance of this repository and I end up with odd errors on load:

I've found this on the web https://github.com/angular/an

[2017-04-27 21:05] colinskow commented on #2
I don't believe I've changed anything from `AngularClass/angular2-webpack-starter` that would impact this behavior. From the error message it looks like it is a Webpack DLL issue. A couple things to check:

1) Test if it works in a production build
2) Try adding NGPrime to the list of vendor DLLs here: https://github.com/colinskow/angular-electron-dream-starter/blob/master/config/webpack.dev.js#L1

[2017-04-27 21:13] colinskow commented on #2
Import your stylesheets [here](/config/head-config.common.js) instead of in `/config/head-config.common.js`.

[2017-04-27 22:52] greg9504 commented on #2
Hello,

Thanks for the reply, it has me on the right track.  I had previously tried adding Primeng to the vendor dlls, I tried adding both as:
`'primeng',`
and
[code]

neither worked, or generated any errors (perhaps that's meaningful).

Before trying the production builds I commented it out of the vendor dll settings in webpack.dev.js.

Then I did:

 - npm run build:prod

Then ran it, still same

[2017-04-28 06:27] colinskow commented on #2
To get PrimeNG working with Angular 4, you need to specify version `4.0.0-rc.4`. The latest stable release (installed by default with npm install) will only work with Angular 2.

It is likely that you were using the Angular 2 version of `angular2-webpack-starter`, and the Angular 4 version of my repo... which would explain the different behavior.

[2017-04-28 13:30] greg9504 commented on #2
Hello Colin,
No I was using the correct version of Primeng and Angular.  In BOTH cases it was:
Primeng 4.0.0-rc.3 and rc.4 (tried both)
and
Angular 4 (4.0.2 and 4.0.3)

FWIW doing npm install --save primeng installs the latest 4.0 release not 2.0.x, here I did npm init then install,:

This is one of the first things I verified.  This is a section of package.json that I used when testing latest of

[2017-05-03 01:29] greg9504 commented on #2
OK I finally figured out what the problem was.  The webpack.common.js file for your repository contains:
~ line 213
[code]
The above code is not in the webpack.common.js from AngularClass/angular2-webpack-starter.

In an AOT build I'm guessing the dependencies are pre-compiled into the bundle, and that's why it works and primeng was loaded.
From the docs I'm trying to reconcile what this means:

G

[2017-05-03 01:41] colinskow commented on #2
Hi Greg,

You don't need to whitelist PrimeNG. You simply need to make it a `devDependency`.

Every module that is listed under `dependencies` is packaged in the `node_modules` directory of the built app and is not parsed by Webpack.

See this part of the README:
https://github.com/colinskow/angular-electron-dream-starter#managing-dependencies

Your dependencies are modules that are needed by the

[2017-05-03 02:21] greg9504 commented on #2
Hello Colin,

OK tried that and it does indeed work.

I feel stupid... I read that doc over and over thinking I had things right.

With your explanation I think I understand the reasons for the separation.  The confusing part for me (being new to Electron and Web dev) is that most examples for 3rd party modules recommend that they go in "dependencies".  And when I read the npm install docs

Intuit

[2017-05-03 04:53] colinskow commented on #2
Yes, if you notice almost everything in my `package.json` is under `devDependencies`.

`dependencies` are packaged with the application runtime in production by Electron Builder. `@angular` and its modules are compiled and tree shaken by Webpack, so the original files don't need to be packages with the application.

I needed a way to tell Electron what to package with the app, and `dependencies` v

[2017-05-03 20:57] #2 closed

[2017-06-06 16:26] samjegal opened #3 "Cannot find type definition file for 'electron'"
Windows 10, already electron-rebuild procedure but I'v got error that 'Cannot find type definition file for electron',

E:\ElectronDev\angular-electron-dream-starter (master) (angular-electron-dream-starter@6.1.0)
λ yarn run build:dev
yarn run v0.24.5
$ npm run clean:build && npm run prep:dist && npm-run-all -p build:main:dev build:renderer:dev

yarn run v0.24.5
yarn run v0.24.5
$ webpack --config

[2017-06-06 16:44] samjegal commented on #3
I've modified below that remove electron section. Curiously enough good working build:dev option.
file: tsconfig.webpack.json
`"types": [
      "hammerjs",
      "node"
    ]`

[2017-06-07 04:18] colinskow commented on #3
Sorry about that, I upgraded to Electron 1.72 which contains its own type files. I didn't remove all references completely to the old types. Thanks for pointing that out. Pushing fix now.

[2017-06-07 04:32] #3 closed

[2017-06-12 06:40] osechet opened #4 "Stop the webpack watcher when the electron app is closed"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
When closing the electron app, the webpack watcher remains running, forcing the dev to interrupt it.

* **What is the expected behavior?**
It would be great if the webpack watcher could stop at the same time as the electron app.

* **What is the

[2017-06-12 14:02] colinskow commented on #4
I agree, please let me know if you can figure out how to do this! It may require a PR to `electron-connect`.

[2017-06-28 14:32] SlickNutter commented on #1
@greg9504 Have you found a way to enable breakpoints in "Debug Main Process"?

[2017-06-29 15:23] greg9504 commented on #1
@SlickNutter I swear I used to be able to do this.  However I just tried it with the both 2.7.3 and 3.1.6 versions of the Debugger for Chrome extension for VS Code and I am unable to get it to work.  I've opened a ticket with the extension authors... https://github.com/Microsoft/vscode-chrome-debug/issues/450
Read that over and tell me if you are seeing the same problem.

[2017-07-04 21:23] greg9504 commented on #1
@SlickNutter
as a work around, place the following line in your code where you want to break (rebuild, npm run build:dev)  and use the Debug Main Process configuration from above .  Single stepping works.
`debugger;`

[2017-07-05 05:32] SlickNutter commented on #1
This is the config I'm using in my launch.json and doesn't work:

[code]

[2017-07-05 15:58] greg9504 commented on #1
@SlickNutter you have the wrong protocol set.  Either leave it out or set it to legacy.
Then on line 20 of src/electron/index.ts put :
`debugger;`
rebuild: npm run build:dev
then debug.
That should allow you to single step through but not set break points.  When you do this you will see VS Code opens a new readonly instance of index.ts.  The problem is with the webpack configuration that generates

[2017-07-06 02:46] greg9504 commented on #1
@SlickNutter
OK I got this to work with the following modification to the output setting in webpack.electron.js:

[code]
Note the "..//" before the [absolute-resource-path].

and my launch config looks like:
[code]

Now you should be able to set breakpoints in /src/electron/index.ts had have VS Code break.  Remember to rebuild after changing /config/webpack.electron.js

[2017-07-14 10:42] orlandodemauro opened #5 "npm install and start issue on window 10"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Report a bug.

* **What i

[2017-07-15 22:41] colinskow commented on #5
Thanks for reporting, I will upgrade to the latest Electron and Electron-Builder in the next release.

[2017-07-16 08:01] savarex commented on #5
Hi Orlando,
I had similar issues on my machine (same os and npm version).

After some tries, I solved them simply upgrading npm.

Please, try to update your npm to latest (or at least 5.x)

You can do that easily with the following command:
npm install -g npm

It should be enough ;)

Emanuele

On 14 Jul 2017 12:42, "orlando de mauro" <notifications@github.com> wrote:

*Note: for support questions,

[2017-07-19 12:37] Kaffiend opened #6 "Update to NGRX 4"
Do you have plans to update to NGRX `4.x.x`?

[2017-07-20 08:35] colinskow commented on #6
Absolutely. Pull requests welcome. Otherwise I'll probably get to it within the 2-3 couple weeks.

[2017-07-20 11:29] Kaffiend commented on #6
I'd wait till the redux dev tools and router-store stop hating each other anyway 😺

[2017-07-20 18:08] Kaffiend commented on #6
Given the simple nature of the starter, there is not enough to fully flex the new features of `NGRX 4.x`. Do you want to keep it simple as or add another module to explain the demo the async state and effects?

[2017-07-20 18:21] Kaffiend commented on #6
also waiting for an update for HMR from angular class [here](https://github.com/AngularClass/angular-hmr/issues/59)

[2017-07-28 13:02] Kaffiend commented on #6
@colinskow Forking a little more advanced version of this seed. NGRX 4 and all its features from the example app with this build pipeline is the target I'm aiming for. Took a bit and wrapped my head around the HMR aspect and i think i know where the issues lie.

[2017-07-28 17:45] Kaffiend commented on #6
I've got it updated and working in my work project. I can issue a PR later this weekend for updating this seed and the slightly more advanced ngrx example app fork im working on.

[2017-07-28 19:31] Kaffiend commented on #4
I've been seeing this a lot too. When you try to restart rimraf has a fit when one of the directories is in use.
[code]
I've been reloading the editor to clear up the binding.

[2017-07-28 20:07] Kaffiend commented on #4
disregard, different issue, it is the angular language service causing the rimraf on restart to complain.

[2017-07-28 21:15] colinskow commented on #6
OK, I definitely want to get this seed working with NGRX 4. But it cannot break HMR. I'm open to a better example app, but don't want to make it too complicated. This is simply scaffolding for users to start their own apps.

[2017-07-29 00:54] Kaffiend commented on #6
I've got the HMR working as well. I wont alter the seed example just update NGRX and its new API. I'm going to fork this seed with a merged `NGRX Official` example and if you like you can link to it in the ReadMe or something for anyone interested.

[2017-08-03 14:38] area73 opened #9 "Add angular-cli"
Is it posible to add angular-cli?
Does it make sense?

[2017-08-07 23:39] greg9504 opened #10 "Debugging test cases"
I'm using 'npm run watch:test' to run the unit tests, which run fine.  However if I open a browser at:

http://localhost:9876/#

and press the debug button shown on that page, I am unable to debug.  I open the dev tools, go to the sources tab, browse to a file to debug (say home.component.spec.ts), set a breakpoint, then refresh the browser window.  I see an exception in the console:

Is there a s

[2017-08-08 18:45] thezachcannon opened #11 "Build Website Bundle"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
This would be nice for ha

[2017-08-10 01:12] greg9504 commented on #10
I have this working using the Debugger tools in Chrome, but not yet with Visual Studio Code... here is what I had to change to get it to work:

in karma.config.js:
change:
[code]
 to:
[code]

This launches an Electron instance, from which you select the Debug button, which opens up the Karma Debug Runner.  Then in the Karma Debug Runner window open Dev Tools, go to sources, browse under Webpack, a

[2017-08-10 20:12] greg9504 commented on #10
If you are interested in a pull request I could give it a try.  I've made a few minor changes to what I posted above and added the karma-webpack-grep tool, see[ here](https://medium.com/@OlegVaraksin/how-to-set-up-and-run-fast-karma-tests-in-front-end-projects-61c17787615a).  This allows you to run either all the tests in a directory, or just one test like:

run just one .spec.ts file:
npm run wat

[2017-08-15 01:46] colinskow commented on #9
I am contributing to this starter, specifically because angular-cli doesn't have enough flexibility to do what I want to do. It may make sense for generating components / services / pipes etc. but not for the build process.

[2017-08-15 01:51] colinskow commented on #10
@greg9504 I am very interested in a pull request. It would also be very helpful if you would add instructions to a wiki for this project. Thanks for all your contributions!!!

I apologize ahead of time I may be slow to respond. I built this starter in order to provide the foundation for a commercial project I'm working on, and now I am full speed ahead getting the software ready for release!

[2017-08-16 07:16] area73 commented on #9
That's what I though it make sense for generating components, service etc.
I give it a try and works fine with angular-cli to generate the above files, so any one who wants to use angular-cli it's a matter of only installing the dependency :)

[2017-08-18 14:08] greg9504 opened #13 "Wrong .node module (native binding) included in build"
I've recently pulled the upstream changes from this repository.  Running into a problem when I attempt to do any of the following:
npm start
npm run build:prod
npm run build:aot

The included build of a native node module (better-sqlite3 in this case) is not correct and so the app fails while loading it with exception:

Builds built with:
npm run build:dev
and run with
npm run launch
work.

Here i

[2017-08-21 15:35] Css-IanM commented on #9
I dont think you even need it as a dep, you can install it globally and still just use it for generation.

[2017-09-04 06:14] bokzor opened #14 "Reload is not available with electron"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[x ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Is it possible to reload

[2017-09-11 15:26] readme42 opened #15 "False positive e2e tests."
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
false positive e2e test results

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

See this for

[2017-09-12 08:13] celestale opened #16 "Could not draw <table> in detail.component.ts template"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ x ] weird issue report

* **What is the current behavior?**
Tried to draw a HTML < table > but with this tag, it is unable to render the view. Electron hanged for a few minutes

[2017-09-12 08:32] #16 closed

[2017-09-12 10:55] readme42 commented on #15
Upgrading chai-as-promised to v7.1.x seems to solve this.

[2017-09-20 05:58] celestale opened #18 "Cannot invoke an expression whose type lacks a call signature"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[* ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

[code]

index.ts
[code]

[2017-09-22 22:08] okonon commented on #14
@colinskow  I am seeing same thing as @bokzor could you point us in right direction? Thanks a lot

[2017-09-22 22:19] okonon commented on #14
Actually never mind started to work for me :)

[2017-09-24 01:43] colinskow commented on #14
I've noticed this too. Sometimes the app loads blank. This is caused by a race condition between the main and renderer Webpack builds on the dev server. If the renderer process build is not finished when Electron starts it generates an error. The only solution I've found is to refresh manually by hitting CTRL-R. This should never happen with your production builds.

[2017-09-24 05:50] colinskow commented on #11
This package is designed specifically for Electron apps. It will not work in a browser since it uses Electron-specific APIs. For the browser version of this project see: https://github.com/AngularClass/angular-starter

[2017-09-24 05:50] #11 closed

[2017-09-24 05:53] colinskow commented on #14
I checked my code and it appears I fixed this a while back by forcing the main build to finish before the renderer build starts. If you can reproduce this with the latest version of the repo, feel free to re-open.

[2017-09-24 05:53] #14 closed

[2017-09-24 05:57] colinskow commented on #18
Downgrade to TypeScript 2.3.x.

[2017-09-24 07:11] colinskow commented on #18
I was able to reproduce this when I upgraded to TypeScript 2.5.2. Fix incoming.

[2017-09-24 07:11] #18 closed

[2017-09-25 12:43] #6 closed

[2017-09-25 23:05] colinskow commented on #5
This should be fixed now.

[2017-09-25 23:05] #5 closed

[2017-09-25 23:10] colinskow commented on #13
Try `npm run install-app-deps`. This will rebuild all native dependencies for your current electron version inside `node_modules_electron`. This should be running automatically as a `postinstall` step, but may not re-run with `npm update`.

[2017-09-25 23:11] colinskow commented on #15
Okay, I have upgraded in the main repo. Feel free to re-open if not solved.

[2017-09-25 23:11] #15 closed

[2017-09-25 23:13] colinskow commented on #9
If you would like to provide instructions and an example in the README for how to generate components with `angular-cli` (including a working config file) then I would welcome a pull request.

[2017-09-26 12:10] celestale opened #19 "Unable to change packed filename executable"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ * ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
A Question

* **What is

[2017-09-26 17:34] Kaffiend opened #20 "NGRX Examples"
[* ] question about the decisions made in the repository

* **What is the current behavior?**
Currently the seed only shows example if root state.

* **What is the motivation / use case for changing the behavior?**
The seed implements async (lazy loaded) modules so including a simple example of async state only makes sense as there are subtle differences in the selectors you create for those slice

[2017-09-26 21:58] colinskow commented on #20
PR welcome. Really cool would be an effect that involves a native API such as setting the state with a native input dialog.

I created this package for that specific purpose:
https://github.com/colinskow/rx-ipc-electron

[2017-09-26 22:00] Kaffiend commented on #20
looks like a match made upstairs

[2017-09-26 22:05] Kaffiend commented on #20
any objections to container components to keep state management clean and concise? or would that be overwhelming?

[2017-09-27 00:51] Kaffiend opened #21 "Preloading Strategy & Lazy Loaded Modules"
[ *] question about the decisions made in the repository

* **What is the current behavior?**
Currently the routing preloading strategy is set to `PreloadAllModules`.
What is purpose of this when demonstrating lazy loaded modules?
Yes technically they are still lazy loaded after initial load. but when managing state of an application and state is loaded asynchronously this kind of defeats the purp

[2017-09-27 01:29] colinskow commented on #21
This behavior comes from the [upstream repository](https://github.com/AngularClass/angular-starter) that I forked. I had nothing to do with it.

What's happening is it bootstraps the root module, and then waits for the browser idle event. When the browser is idle it loads all the additional modules in the background. This has the advantage that when the user navigates to a lazy-loaded module it wi

[2017-09-27 01:39] Kaffiend commented on #21
Right,
           I understand that and agree to the advantages, but should there be some explanation perhaps in a comment above the router configuration for less experienced seed users? It could be misleading seeing a lazy loaded module's state in the dev tools when they haven't actually called that module yet. I'm speaking strictly from a state management point of view obviously, and there comes

[2017-09-27 01:46] colinskow commented on #21
Yeah, I had a discussion a while ago with the folks from AngularClass because I thought it was a bug all the modules where loading at once. PR welcome to explain this in the documentation.

[2017-09-27 01:49] Kaffiend commented on #21
Absolutely, not a problem.

[2017-09-27 02:07] celestale opened #22 "package:windows fails"
* **I'm submitting a ...**
[ * ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
npm run package:windows fails with Exit status 4294967295

* **Please tell us about your environment:**
i ran the latest source codes of angular-electron-dream-starter@7.0.0 without any changes

Attached debug log
[code]

[2017-09-27 02:17] colinskow commented on #22
OK, I'll try cloning on my Windows machine to see if this happens to me. It looks like it may be an issue with rimraf, which I've had trouble with on Windows before. Try running `build --win --x64` without the previous rimraf and let me know if it works.

[2017-09-27 02:40] celestale commented on #22
Thanks for your reply. Attached is the error log for `build --win --x64`
[code]

[2017-09-27 02:54] colinskow commented on #22
I just tried exactly what you did. Windows 10, Node 6.10. Fresh clone of repo. It worked just fine for me.

"Can't open output file" appears to be some sort of permission error on your file system. Perhaps try with Node 6 and see if that helps? Also make sure the packages folder is clean before you start. Instead of "pakcages/win" it looks like the new directory is "win-unpacked."

[2017-09-27 03:34] Kaffiend commented on #22
just a side note, i find rimraf much more convenient and have installed it globally with proper permissions making it available in my windows `path` environment variable and i am not experiencing this on windows 10 x64 enterprise

[2017-09-27 03:46] celestale commented on #22
Hi all, I actually had this problem on and off every time and most of the time it worked after 5-10tries of fails. I changed "pakcages/win" to "win-unpacked" in `"package:windows": "rimraf packages/win/* && build --win --x64"` to `"package:windows": "rimraf packages/win-unpacked/* && build --win --x64"` and delete packages, dist folder and `build:prod` , `package:windows` with no success result.

[2017-09-27 03:51] Kaffiend commented on #22
@celestale sure its simple.
`npm i -g rimraf`
any powershell or windows cmd instances you have open close them and reopen, node by default should add a global flagged install to path. But you may need to run CMD or Powershell as Administrator when you run the install command.

[2017-09-27 06:04] celestale commented on #22
@Kaffiend Hi, great explanation! I have installed it globally and follow your `SETX` instructions and ran the package:windows again with no success.

Can I know if your package.json contains the same script `"package:windows": "rimraf packages/win/* && build --win --x64"`. Because colin said that it should be win-unpacked instead of packages/win. I am confused.

I also tried manually deleting the

[2017-09-27 07:27] celestale commented on #22
@colinskow tried with node 6 and was unable to do npm start
[code]

[2017-09-27 08:24] celestale opened #24 "Splash screen when main window is loading"
Is it possible to create a Splash screen when main window is loading in this starter project?

I have tried to create a `loading.html` which is in the same directory level with `index.html`

[code]
**loading.html**
[code]

**index.ts**
[code]
loading.html did not load but I could see the color of `backgroundColor: '#34343B'`.

Did i missed out any steps to create the loading window?

[2017-09-27 09:37] colinskow commented on #22
All I can tell you is that it is working on both my Mac and Windows desktop. Did you do `npm run clean` and `npm install` again after changing the Node version? Native dependency builds are not compatible across Node versions.

At this point this is an issue to file with [Electron Builder](https://github.com/electron-userland/electron-builder). This repo is working as expected. You are having prob

[2017-09-27 12:39] Kaffiend commented on #24
This can also be accomplished using the
[code]
event and some css and js script tag in the index.html something like this.
[code]
and in the index.html
[code]

[2017-09-27 12:52] Kaffiend commented on #24
if you dont want to use a timeout to remove the loading element you will have to create your own custom dom event to be triggered when angular is done bootstrapping which would be nothing more than an angular service, like below
[code]
and in the OnInit lifecycle hook of the app component inject this service and call
[code]

[2017-09-27 13:15] Kaffiend commented on #20
@colinskow i just used your example in the rx-ipc lib for the sake of simplicity. we could change the existing dialog to have options and compute that option into state via rx-ipc using the same example??

[2017-09-27 13:34] okonon commented on #9
@colinskow is there a way to serve angular code in a browser ?

[2017-09-28 02:31] celestale commented on #24
@colinskow  @Kaffiend  Great tips! Thank you.

[2017-09-29 01:17] celestale commented on #22
Alright thanks for your help! Cheers @colinskow

[2017-09-29 01:18] colinskow commented on #20
@Kaffiend actually I just got a great idea and explained it below your pull request.

[2017-10-04 19:36] rdafoe commented on #22
Hi Colin,

First off. Great job man, thanks so much for creating this!!!

Had same issue as @celestale on a surface pro 3 up-to-date. Stopped after first failure on package creation, then tried dev/prod/aot builds same failure basically.

Tried your suggestion to npm clean and reinstall. This fixed everything: builds, packages, tests, etc.

[2017-10-05 05:39] celestale commented on #22
**Fix found in builder-util:**

It turned out that `node_modules\builder-util` do not contain the folder `src`. Instead it contains folder `out`.

 It is trying to access `src` folder.

Currently, I manually created the `src` folder and I was able to `run package:windows` with no problem. But what is the right way to fix this?

[2017-10-05 08:03] celestale commented on #19
Any help on this please? >.<

[2017-10-10 02:17] Kaffiend opened #25 "Redux Devtools not detecting state"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[* ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
The Redux devtools does not detect state.

* **Wh

[2017-10-10 02:46] Kaffiend commented on #25
issue resolves when you do not [override](https://github.com/colinskow/angular-electron-dream-starter/blob/master/src/app/app.module.ts#L77) the store with the meta reducers here, and just declare them, which is of course not AoT friendly.

[2017-10-12 06:08] chrisvelevitch opened #26 "The dist/package.json file is missing"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

* **What is the current behavior?**
The packager is complaining that the dist/package.json is missing. What is meant to be in this file and shouldn't it be including in the repo?

* **What is the expected behavior?**
The app is packaged

* **What is the motivation / use case for c

[2017-10-14 08:12] ysfjwd opened #27 "'firebase-admin' npm package throws an error."
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

I believe this is a bug

[2017-10-14 17:54] colinskow commented on #26
Did you do `npm run build:aot` first? I have tested recently on Mac and it is packaging correctly from my AoT build.

[2017-10-14 19:33] ysfjwd commented on #27
just verified, the firebase admin works fine with nestjs and electron, its only this package.

[2017-10-14 21:32] colinskow commented on #27
The best way to load the Firebase certificate is with the [Webpack JSON Loader](https://github.com/webpack-contrib/json-loader). It is kind of dirty to hack it with TypeScript.

Also make sure `firebase-admin` is a DEPENDENCY rather than devDependency in your `package.json`. You shouldn't need special environment variables to build the native dependencies. Just run `npm run install-app-deps` and t

[2017-10-14 21:34] colinskow commented on #27
This is already explained in the [README](https://github.com/colinskow/angular-electron-dream-starter#managing-dependencies) if you dig in.

[2017-10-15 20:47] ysfjwd commented on #27
@colinskow yep, did read the README, however grpc prebuilt binary is not available for electron version in this repo, thus had to build that package from source.

having said that, i think the error
[code]

is with awesome-typescript-loader and type checking. will verify it by disabling type checking for webpack configuration for electron.

[2017-10-15 21:14] ysfjwd commented on #27
yep, doing
[code]
takes care of the errors. Thanks for this awesome loader btw. Will work to have  three tssconfig.json files.

[2017-10-15 21:14] #27 closed

[2017-10-17 18:25] colinskow commented on #25
@Kaffiend PR welcome to correct the order of meta reducers.

[2017-10-17 22:04] chrisvelevitch commented on #26
Sorry, I overlooked that part of the process. It's working for me now.

[2017-10-17 22:04] #26 closed

[2017-10-17 22:38] colinskow commented on #22
Definitely file that bug directly with `electron-builder`.

[2017-10-17 22:38] #22 closed

[2017-10-17 23:00] colinskow commented on #19
This is handled through `electron-builder` a simple Google search will find the answer. Change the `productName` field in your `package.json`.
https://www.electron.build/configuration/configuration

[2017-10-17 23:00] #19 closed

[2017-10-17 23:02] colinskow commented on #9
@okonon this project is specific to Electron and does not support browsers. I recommend https://github.com/AngularClass/angular-starter

[2017-10-17 23:04] colinskow commented on #13
Also make sure any native node dependencies are listed under `dependencies` in your `package.json`. The build will fail if they are under `devDependencies`.

[2017-10-17 23:04] #24 closed

[2017-10-18 18:05] greg9504 commented on #13
Hi Colin
I tried npm run install-app-deps as noted in the original post above, also yes the module is under dependencies:

(Note better-sqlite3 requires node-gyp to be installed global for it's [build to work](https://github.com/JoshuaWise/better-sqlite3/wiki/Troubleshooting-installation), however the only way I could get the install-app-deps script to work was to have node-gyp installed local, as

[2017-10-18 18:08] greg9504 commented on #10
Since this functionality has been merged to the main branch might as well close this.

[2017-10-18 18:08] #10 closed

[2017-10-19 18:09] ysfjwd commented on #25
as sugested by @Kaffiend, i have done the above.

[code]

no ❤️

[2017-10-19 18:23] Kaffiend commented on #25
@ysfjwd make sure your imports are spread after the reducers and router connecting module as well.
[code]

[2017-10-19 18:26] ysfjwd commented on #25
yep, found the fix.

Also, It does require a refresh on my end.

[2017-10-19 18:28] Kaffiend commented on #25
Yes state dependency chain changes are not injectable and require a restart.

On Oct 19, 2017 2:26 PM, "Yousuf Jawwad" <notifications@github.com> wrote:

[2017-10-19 18:30] ysfjwd commented on #25
just issued a pull request #41

[2017-10-23 20:12] #25 closed

[2017-10-30 13:50] mrmashal commented on #14
@colinskow Could you please tell me where was the fix? I have replaced some theme for the `src/app` (along with some required adjustments) and I'm facing the blank screen on page reload. I'm not sure if I've accidentally overwritten some important code. The theme does not use ngrx; Could it be related to the issue?

[2017-11-06 08:05] tjpeden commented on #13
I am having a similar issue with `sqlite3`. The `install-app-deps` script doesn't seem to be working correctly

[2017-11-06 16:54] greg9504 commented on #13
@tjpeden what platform are you on?  Also were you able to work around it using electron-rebuild and the copy scripts?
first install electron-rebuild then:
.\node_modules.bin\electron-rebuild.cmd -f -w better-sqlite3

then run copyallbettersqlite from above post.

[2017-11-06 19:08] colinskow commented on #13
Do you have the latest version of `config/install-app-deps.js` in your repo? It seems this may be an issue with the sqlite modules, possibly because it insists on global node-gyp, whereas you need to make sure it is using the Electron config.

Definitely send a PR if you can figure out how to get it working correctly with simple changes.

[2017-11-07 17:57] tjpeden commented on #13
I know that elentron-builder's install-app-deps cli command builds sqlite3 without issue, I used it on a different seed a couple days ago, but I like this seed better.

[2017-11-09 18:22] colinskow commented on #13
And I've simply built a wrapper around electron-builder's `install-app-deps` command which builds only package.json `dependencies` in the `node_modules_electron` folder. If you can figure out what is causing the failure please let me know.

[2017-11-13 15:09] readme42 opened #29 "Angular 6 Upgrade"
Thanks for this great seed.

Angular 5 was released and I would love to know the plans of supporting angular 5 in the near future. As ngc-webpack was updated by wrapping ngtool/webpack, this should be feasible without too many changes.

Or maybe its better to wait until angular-starter has finished the migration?

Thanks a lot for sharing your plans :)

[2017-11-17 17:49] m00s opened #30 "Packaging for linux cannot fetch appimage-9.0.1"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
When running `npm run package:linux` I get this:

[code]

* **Please tell us about your environment:**
Building on macOS High Sierra 10.13.1

[2017-11-18 07:12] colinskow commented on #30
This bug should be filed with `electron-builder ` instead. Generally building for a different OS than you are running is difficult. You may try installing a Linux VirtualBox to build instead.

[2017-11-18 07:12] #30 closed, assigned to nobody

[2017-11-18 13:52] m00s commented on #30
@colinskow sounds good, thanks. For anyone having this issue I just login in docker cli using my username instead of the email.

[2017-11-21 21:05] colinskow commented on #29
I'm going to wait and see what `angular-starter` does. Although I am seriously considering using an ejected `angular-cli` project as a base to completely redo the build system. When I first forked `angular-starter` the CLI had serious limitations, but with Angular 5 it has come out ahead.

[2017-12-29 17:59] Kaffiend opened #31 "electron-builder structure change"
^ on `electron-builder` package, on fresh installs is pulling in a version that has a different structure and breaks the `install-app-deps` helper.

[2018-01-08 15:11] Kaffiend commented on #29
I agree with the ejected cli. It's more viable now, and could simplify some of the intricacies this seed uses to build.

[2018-01-10 00:08] Kaffiend commented on #9
I'm working on a more cli oriented electron seed. I'm still working on integrating more convenient features such as HMR (in progress) but i have live-reload and everything is proxy-ed around the cli and uses the cli build process for all angular code. So far i have not yet had to eject the underlying webpack.
This seed can be found here
https://github.com/Kaffiend/electron-angular-ngrx

  Edit: Up

[2018-01-10 04:54] colinskow commented on #9
I definitely want to integrate CLI. Ideally without having to eject. But the Electron main process needs traditional Webpack. I won't get to it for at least a few weeks, so PRs welcome!

[2018-01-10 04:58] Kaffiend commented on #9
I'm not as familiar as i'd like to be. What caveats of electron's main process require traditional webpack?
 Part of the reason im building this seed from scratch is to force myself to learn all the in and outs 😄

[2018-01-10 05:06] colinskow commented on #9
@Kaffiend there are two separate builds in this starter:
1) Main Electron process is compiled from TypeScript and minified through Webpack. This won't be changed and is incredibly simple. Just look at the [config file](https://github.com/colinskow/angular-electron-dream-starter/blob/master/config/webpack.electron.js).
2) Renderer process is compiled through Webpack. We want to switch this process

[2018-01-10 05:11] Kaffiend commented on #9
1.) Ok I think I’m good there, I’m compiling my electron with a gulp task with the typescript plugin.
2.) I use a gulp task to wrap the cli command to build to `dist` on live reload workflow. Which is has a proxy with browsersync to the dist directory for angular code.
a. on HMR workflow I wrap that command in a task as well, and on completed compilation (monitoring cli’s stdout stream) I reverse

[2018-01-10 05:33] colinskow commented on #9
We'll probably have to eject the CLI configuration. I recall a problem where native electron APIs in the renderer process won't run unless they are being called from `file://` won't work with http.

[2018-01-10 05:40] colinskow commented on #9
@Kaffiend it looks like your approach will work. I'd prefer not to use gulp, so let's write a script that simply uses promises to accomplish the same.

[2018-01-10 05:46] colinskow commented on #9
Although I see how Gulp makes things a lot easier to probably best to leave it. The one thing to add is to automatically restart Electron when source files for the main process are updated.

[2018-01-10 05:47] Kaffiend commented on #9
I agree I would prefer to use pure node scripts. I don't like the extra
abstraction layer and reliance on plugin authors. I was curious about the
viability of gulp4 and it's new parallel features.

On Jan 10, 2018 12:40 AM, "Colin Skow" <notifications@github.com> wrote:

[2018-01-10 05:49] Kaffiend commented on #9
I have no problem refactoring gulp out. Nodemon manages the electron
process restarts on changes with a gulp watcher compiling it's source
changes

On Jan 10, 2018 12:47 AM, "Ian Mackie" <kaffiend0311@gmail.com> wrote:

[2018-01-10 23:29] Kaffiend commented on #9
For now i'm going to keep gulp, as you said it does make things easier. But at the first hiccup of upstream packages hindering updates and progression I wont hesitate to yank it out 😺

[2018-01-11 02:23] Kaffiend commented on #9
@colinskow I've got all three development build processes lined out now. Had an issue with the task completion launching the electron too soon before the cli was done serving up the HMR and you had to reload manually once it finished. gulp also suppresses STDOUT on wrapped commands to the CLI so i piped those through to display the CLI build stats and completion messages. This was also the case wi

[2018-01-21 10:57] zasarafljivac commented on #31
I can confirm this issue in my case too.

Changing **line number 3** inside ```config/install-app-deps.js```  from:
```const installOrRebuild = require('electron-builder/out/util/yarn').installOrRebuild;```
to:
```const installOrRebuild = require('electron-builder-lib/out/util/yarn').installOrRebuild;```

resolved issue for me.

[2018-01-25 00:36] Kaffiend commented on #31
so this happens when you install with `npm`, instead of yarn. Both should be supported. `yarn` does not install the `electron-builder-lib` package but `npm` does. Maybe we can change the build process to utilize the `electron-builder install-app-deps` command instead or we can simply put in a quick fix to handle which ever exists after install for the correct path in the script.

[2018-01-25 01:17] Kaffiend commented on #4
this could possibly be handled by adding `nodemon`  to wrap the process, and can also be configured to restart on just electron main process changes.

[2018-01-26 15:19] Kaffiend commented on #9
So i've had some challenges to overcome with the CLI, external modules and render target. This required ejection. I wish there was a way around it but I've yet to find a viable one. Internally we have it up and running with HMR on an ejected project while using external modules. I will update our parallel seed this weekend with the solution we came up with as well as some more progress on the base

[2018-01-29 03:10] Kaffiend commented on #9
@colinskow I've updated the seed i linked above to eject from the CLI, added native module support, and updated to support HMR workflow with the ejected CLI.

[2018-02-02 05:16] colinskow commented on #31
Have you figured out why `yarn` behaves differently from `npm`?

[2018-02-02 05:19] colinskow commented on #9
@Kaffiend What issue were you running into that forced you to eject the project?

[2018-02-06 11:27] suku-h opened #34 "Tests are timing out, increase in time also gives same result"
We have made no changes to the karma.conf file. It is taking a lot of time to create the testbed

Disconnected (1 times), because no message in 10000 ms.
Electron 1.7.9 (Node 7.9.0) ERROR
     Disconnected, because no message in 10000 ms

Here is the testBed:

     `const mockNgZone = jasmine.createSpyObj('mockNgZone', ['run', 'runOutsideAngular'])
     mockNgZone.run.and.callFake(fn => fn())

[2018-02-07 21:24] d4hines commented on #31
Thanks for the tip about using yarn instead of npm. As a quick fix it worked great.

[2018-02-08 04:42] Kaffiend commented on #9
setting the target so that i could have access to native modules.

[2018-02-15 15:11] krisvantof opened #35 "Compatibility with use of browser"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Well... There is a Dockerfile for web browsing the `dist/` folder with Nginx, so I guess this is a bug. If it was never planned to be used with a browser, then it's a feature request, or a need for advice about what to do

[2018-02-15 15:19] greg9504 commented on #29
Any more thoughts on this.  I see that angular-starter has moved to angular 5.

[2018-02-19 02:43] #34 closed, assigned to nobody

[2018-03-22 13:44] grosscorporation opened #36 "5000 forks and 100 stars, people are savages."
block the forks dude and allow them to star first

[2018-05-23 06:27] arcanefoam commented on #31
Till #32 fix is accepted, perhaps this?

    try {   // Try with yarn layout
      installOrRebuild = require('electron-builder/out/util/yarn').installOrRebuild;
    } catch (e) {
      if (e.code !== 'MODULE_NOT_FOUND') {
        throw e;
      }
      // Try with npm layout
      installOrRebuild = require('electron-builder-lib/out/util/yarn').installOrRebuild;;
    }

[2018-06-06 16:46] utd1878 commented on #29
Any chance we could see this happen?

[2018-06-06 19:30] greg9504 commented on #29
I can offer to help, but my contribution may be limited to testing.

[2018-06-07 03:57] colinskow commented on #29
This is going to need to go directly to Angular 6. We really need to figure out how to integrate this directly with Angular CLI since the `ng eject` option is now disabled. Electron security generally requires that the bundle be served from `file://` rather than http.

We'll have to use something like this:
https://github.com/angular/angular-cli/wiki/stories-disk-serve

Any ideas to get it working

[2018-06-07 04:18] utd1878 commented on #29
I'd really like to assist and i can help where needed. However, just reading that last post, its clear my level of knowledge on how angular and electron work with one another isnt at the level of providing proper suggestions.

That being said, im always willing to learn if you wanted to out me to work.

[2018-06-07 04:21] govi2010 commented on #29
@colinskow  I already have upgrade `angular-starter` to angular 6.
If you need help then I can complete this on week end or latter.

I already have `angular-starter` with angular 6 + electron code base.
If you need help let me know.
There will be lots of changes in web-configs.

[2018-06-07 04:22] govi2010 commented on #29
`https://github.com/gdi2290/angular-starter/tree/feature/migrate-to-webpack4`
Here is link.

[2018-06-07 04:26] utd1878 commented on #29
@govi2010 are you saying you have this app converted or another similar app?

[2018-06-07 04:28] govi2010 commented on #29
@utd1878  I have implemented electron on `angular-starter`  for my client. It is not open source.

[2018-06-07 04:48] utd1878 commented on #29
@govi2010. That’s awesome. I’ve attempted, with my limited knowledge to upgrade this app and have failed miserabely. If you’re able to find the time to get this repo upgraded, not only would I be grateful, but more interested in what needed to change to get it to work.

[2018-06-07 04:55] colinskow commented on #29
@govi2010 it is a pain to have to maintain Webpack config files every time a version changes. I would like for the client to be built via angular-cli (not ejected) so that it can be upgraded any time with `ng upgrade`.

This means running `ng serve --watch` in a spawned thread and listening for `webpack: compiled successfully` in stdout to trigger Electron reload. This must be done inside the `con

[2018-06-07 04:58] colinskow commented on #36
Stars include only this particular repo. Forks include in addition the parent repo.

[2018-06-07 04:58] #36 closed, assigned to nobody

[2018-06-07 05:13] govi2010 commented on #29
@colinskow
I agree with you.  But today we say it should be simple by doing `ng upgrade`. But we can not predict tomorrow what angular team going to do.

In this Rapidly changing Front-end technologies nothing is permanent.

I agree your solution today for simple projects. As I have many project build on `angular starter`  I am using that. People who know web-pack well will always like keep contro

[2018-06-07 13:28] greg9504 commented on #29
@colinskow don't know if you have seen:
https://github.com/meltedspark/electron-angular-native
I haven't looked too closely at it however I believe it does use ng-eject with Angular 5.2, so perhaps not useful for the current discussion.

[2018-06-14 16:39] utd1878 commented on #29
Was anyone able to find some time to see what it would take for this to be updated to 6?

[2018-06-28 22:20] colinskow commented on #29
So I've looked into the options. This repo was originally created in the very early days of Angular CLI when it had a lot of problems, and a custom Webpack configuration was necessary. Now Angular CLI does everything 95% of developers need, and there's the eject function for everyone else.

I believe the best way to move forward is for me to deprecate this project and build a new repo from scratch

[2018-06-29 17:49] colinskow commented on #29
If anyone needs Angular 6 support now, this repo is awesome. It's missing many bells and whistles we have here, but should work...
https://github.com/maximegris/angular-electron

[2018-06-29 17:53] colinskow commented on #29
The direction I'm looking at now is to build a schematic for Angular Electron applications which will extend CLI functionality. The entire build process will also be handled by CLI.
https://medium.com/@tomastrajan/%EF%B8%8F-how-to-create-your-first-custom-angular-schematics-with-ease-%EF%B8%8F-bca859f3055d

[2018-06-29 17:55] colinskow commented on #35
Browser support is not a goal of this repo. Electron and browser builds can share a good deal of code, but you really need two separate build systems and two versions of the code for browser support.

[2018-06-29 17:55] #35 closed, assigned to nobody

[2018-06-29 19:05] utd1878 commented on #29
@colinskow That sounds great.  I look forward to seeing this repo upgraded to 6 and a schematic

[2018-09-11 01:36] junebug12851 commented on #29
I'd like to see documentation on how to take an existing project and implement these features. Even just general documentation to point me in various directions will suffice and unlike projects, even out of date documentation can often be figured out.

I'd much rather 10 times over understand what I'm doing, understand how the these features are implemented, and be able to tailor them into my exis

[2018-09-11 05:10] govi2010 commented on #29
@junebug12851  Let me know if you need help

[2018-09-11 14:48] utd1878 commented on #29
@colinskow you'd mentioned about reseeding this from scratch and adding just the necessary electron components.  Have you been able find time to get that going?

[2019-08-06 22:53] utd1878 commented on #29
Been a while so I'm assuming there aren't any cool updates to consume?  :)